@import 'variables';
* {
    box-sizing: border-box;
}

body {
    //overflow-y: scroll;
    font-family: $base-font;
    font-size: $base-font-size;
    color: $black-400;
}

html,
body,
#app {
    //overflow: hidden;
    width: 100%;
    height: 100%;
}

ul {
    padding: 0;
    margin: 0;
}
