/*  Fonts */

//$base-font: "Source Sans Pro", sans-serif;
$base-font: 'Montserrat', sans-serif;
$base-font-size: 16px;

/* Colors */
$white: #fff;
$black-100: #4e4e4e;
$black-200: #262626;
$black-300: #555;
$black-400: #333;
$black-600: #222;
$black-900: #111;
$black-bg: #252526;
$green-main: #70c050;
$blue-main: #3897f0;
$blue-100: #32b5ff;
$gray-100: #d0d0d0;
$gray-200: #c6c6c6;
$gray-300: #f0f0f0;
$gray-400: #9e9e9e;
$gray-500: #bcbcbc;
$gray-600: #dadada;
$gray-700: #eff2f5;
$gray-800: #c4c4c4;
$red-100: #ed4956;

/* Grid */

$offset: 4px;

/* Breakpoints */

$breakpoints: (
    //xxs: 0,
    xs: 360px,
    sm: 767px,
    md: 991px,
    lg: 1279px,
    xl: 1439px,
    xxl: 1919px
);

@mixin respond-to($name, $bp: $breakpoints) {
    $max: breakpoint-max($name, $bp);

    @if $max {
        @media (max-width: $max) {
            @content;
        }
    } @else {
        @content;
    }
}

@function breakpoint-max($name, $bp: $breakpoints) {
    //$next: breakpoint-next($name, $bp);
    //
    //@return if($next, breakpoint-min($next, $bp) - .02, null);

    $max: map-get($breakpoints, $name);

    @return if($max != 0, $max, null);
}

@mixin respond-to($name, $bp: $breakpoints) {
    $max: breakpoint-max($name, $bp);

    @if $max {
        @media (max-width: $max) {
            @content;
        }
    } @else {
        @content;
    }
}
